.taskInput{
    display: flex;
    justify-content:center;
    padding: 10px 15px;
}
.taskInput input {
    width:100%;
    margin-right: 5px;
    outline: none;
    border: none;
    background-color: #fefae0;
    color: black;
    padding-right: 5px;
    border-radius: 26px;
    padding-left: 20px;
     box-shadow:  rgba(84, 98, 111, 0.35) 0px -2px 6px 0px inset;
}
.taskInput input::placeholder{
    color: gray
}
.taskInput button{
    background-color:#fefae0;
    font-weight: bolder;
    color:#219ebc;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    line-height: 2px;
    box-shadow:  rgba(84, 98, 111, 0.35) 0px -2px 6px 0px inset;
}